<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            id="com.yp.core.data.plugin.views.Connect"
            name="%Connect.View.Name"
            icon="icons/sample.gif"
            class="com.yp.core.data.plugin.views.ConnectView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.yp.core.data.plugin.handlers.ConnectionHandler"
            commandId="commons-data-plugin.handlers.ConnectionHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?endof=group.edit">         
            <command
            	  id="commons-data-plugin.menu.connectionMenu"
                  commandId="commons-data-plugin.handlers.ConnectionHandler"
                  icon="icons/sample.png"                  
                  tooltip="%Connect.View.Name" label="%Connect.View.Name" style="push">
            </command>        
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.AppExplorer#PopupMenu?endof=group.edit">         
            <command
            	  id="commons-data-plugin.menu.connectionMenu"
                  commandId="commons-data-plugin.handlers.ConnectionHandler"
                  icon="icons/sample.png"                  
                  tooltip="%Connect.View.Name" label="%Connect.View.Name" style="push">
            </command>        
      </menuContribution>
   </extension>
</plugin>
